:root{

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

header {
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

header a {
    color: white;
    text-decoration: none;
}

main {
  width: 100vw;
  height: 90vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-area {
  width: 80vw;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

form {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}